# /etc/systemd/system/wakeup-check-pre.service
[Unit]
Description=Wakeup Check Pre Suspend
Before=sleep.target
StopWhenUnneeded=true

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wakeup-check.sh pre
ExecStartPost=/bin/sleep 2s

[Install]
WantedBy=sleep.target
