[Unit]
Description=Wakeup Check Post Suspend
After=sleep.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wakeup-check.sh post

[Install]
WantedBy=sleep.target
