[Unit]
Description=Wakeup Check after Resume
After=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wakeup-check.sh post
User=root

[Install]
WantedBy=suspend.target
