[Unit]
Description=Wakeup Check (Pre)
After=wakeup-check-post.service
Conflicts=wakeup-check-post.service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemd-inhibit --what=sleep --who="wakeup-check.sh pre" --why="Running Pre-Suspend Tasks" /usr/local/bin

[Install]
WantedBy=multi-user.target
