[Unit]
Description=Wakeup Check Pre Suspend
Before=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wakeup-check.sh pre
TimeoutStartSec=60  # mindestens etwas größer als sleep-Dauer!

[Install]
WantedBy=suspend.target
